-var h2 = 'font-dosis fs-24 fw-bold color-green line-letter-4 text-upper'
-var p = 'font-releway fs-14 color-default line-letter-5'
-var p1 = 'font-dosis fs-24 fw-bold line-letter-6 color-green text-upper'
-var p2 = 'font-releway fs-14 line-letter-7 color-default'
-var pagingInfo = 'font-releway fs-14 fw-800 color-gray'
section(id='sobre' class='about')
  div.content-one
    div.content
      h2(class=h2) Sobre a conectus
      p(class=p) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt #[strong ut labore] et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p(class=p) Duis aute irure dolor #[strong in reprehenderit in voluptate] velit esse cillum dolore eu fugiat nulla pariatur.
    div.image-background
      img(src='assets/img/iphone-image.png' alt='Apps' title='Apps' width='668' height='505')
  div(class='content-two' id='destaques')
    div.image-background
      img(src='assets/img/phone-slider.jpg' alt='Apps' title='Apps' width='468' height='444')
    div.content
      span(class='pagingInfo' class=pagingInfo)
      div.slider
        div.slide
          p(class=p1) lorem1
          p(class=p2) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.slide
          p(class=p1) lorem2
          p(class=p2) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.slide
          p(class=p1) lorem3
          p(class=p2) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.slide
          p(class=p1) lorem4
          p(class=p2) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
