-var h3 = 'font-dosis fs-24 fw-bold line-letter-4 color-white text-upper'
-var p = 'font-dosis fs-24 fw-500 line-letter-4 color-gray'
-var p2 = 'font-releway fs-14 fw-600 line-letter-8 color-gray'
-var btn = 'font-dosis fs-14 fw-600 btn btn-medium bg-green line-letter-3 color-white'
section(id='funcionalidades' class='functionalities bg-green')
  h3(class=h3) As Funcionalidades
  div.content
    div.box
      img(src='assets/img/servico-1.svg' width='62' height='62')
      p(class=p) lorem
    div.box
      p(class=p2) Lorem ipsum dolor sit amet, consctetur adipiscing elit.
      a(href='' class=btn) Lorem ipsum
    div.box
      img(src='assets/img/servico-3.svg' width='62' height='62')
      p(class=p) lorem
    div.box
      img(src='assets/img/servico-2.svg' width='62' height='62')
      p(class=p) lorem
