-var icons = 'fa fa-2x color-white no-border'
-var conectus = 'font-dosis fs-20 fw-bold line-letter-9 color-gray text-upper'
-var address = 'font-releway fs-13 fw-500 line-letter-10 color-gray'
footer
  div.bg-footer.social-and-addresses.bg-white-1
    div.content
      div.social
        p(class=conectus-nas-redes class=conectus) conectus nas redes
        div.icons
          a(class='circle' href='//facebook.com')
            i(class='fa-facebook' class=icons)
          a(class='circle' href='//twitter.com')
            i(class='fa-twitter' class=icons)
          a(class='circle' href='//instagram.com')
            i(class='fa-instagram' class=icons)
          a(class='circle' href='//youtube.com')
            i(class='fa-youtube' class=icons)
          a(class='circle' href='//whatsapp.com')
            i(class='fa-whatsapp' class=icons)
          a(class='circle' href='//skype.com')
            i(class='fa-skype' class=icons)
      div.address
        p(class=address class='mb-0') rua nossa senhora de copacabana
        p(class=address class='mb-0 mt-0') 1355 - sala 2 - copacabana
        p(class=address class='mb-0 mt-0') rio de janeiro
        p(class=address)
          a(href='mailto:olar@conectus.com' class='link-footer color-gray') olar@conecuts.com
          |!{' '}!{' '} - !{' '}
          a(href='tel:+5521999999922' class='link-footer color-gray') 55 21 99999-9922
    div(class='copyright bg-green-1 text-center')
      img(src='assets/img/conectus-branco.svg' alt='Conectus' title='Conectus' width='107' height='32')
